<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Baseline Requirements Certificate Policy for the Issuance and Management of Publicly-Trusted Certificates</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="assets/normalize.css">
    <link rel="stylesheet" href="assets/main.css">
    <!--[if !mso]> -->
    <link rel="stylesheet" href="assets/advanced.css">
    <!-- <![endif]-->  
  </head>
  <body>
<!--[if mso]>
  <div class="WordPageLayout"> <%# This is needed because Word does not allow margin on html or body #%>
<![endif]-->
  <div class="CoverPage">
    <h1>CA/Browser Forum</h1>
    <h1>>Baseline Requirements Certificate Policy for the Issuance and Management of Publicly-Trusted Certificates</h1>
    <div class="CoverInfoBox">
      <b>CA/Browser Forum.</b><br>
      Version <%= @converter[:version] %><br>
      <%= @converter[:date] %><br>
      <a href="https://cabforum.org">cabforum.org</a>
    <div>
  </div>
  <%= @body %>
<!--[if mso]>
  </div>
<![endif]-->
  </body>
</html>
